/* Общие стили для страниц */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Контейнер для основной структуры */
.container {
    display: flex;
    width: 100%;
}

/* Стили для списка пользователей */
.user-list {
    width: 250px;
    background-color: #f1f1f1;
    border-right: 1px solid #ccc;
    padding: 10px;
}

.user-list h2 {
    margin: 0 0 10px 0;
}

.user-list ul {
    list-style-type: none;
    padding: 0;
}

.user-list li {
    padding: 10px;
    cursor: pointer;
}

.user-list li:hover {
    background-color: #e0e0e0;
}

/* Стили для окна чата */
.chat-window {
    flex-grow: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.chat-window h2 {
    margin: 0 0 10px 0;
}

#messages {
    flex-grow: 1;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    overflow-y: auto;
}

/* Стили для текстового поля и кнопок */
textarea {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}

button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Стили для контейнера авторизации */
.auth-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

/* Заголовки */
h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

/* Стили для формы авторизации */
.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрируем элементы */
}

.input-group {
    margin-bottom: 15px;
    width: 100%; /* Задаем ширину для группы инпутов */
}

input[type="text"], input[type="password"] {
    width: calc(100% - 30px); /* Учитываем отступы и ширину кнопки */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* Кнопка отправки */
.auth-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%; /* Кнопка на всю ширину */
}

.auth-button:hover {
    background-color: #45a049;
}

/* Ссылка на регистрацию/вход */
.auth-link {
    color: #0066cc;
    text-decoration: none;
}

.auth-link:hover {
    text-decoration: underline;
}
